<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name = "title" ngModel required #title="ngModel" placeholder="Post Title">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name = "content" ngModel required #content="ngModel" placeholder="Post Content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">Save Post</button>
  </form>

</mat-card>
